{% extends "partials/base.njk" %}

{% block meta %}
<title>PROMOR | Contacto</title>
{% endblock %}

{% block content %}
  <header class="contact-header">
      <div class="header-card">
        <img id="mail-icon" src="img/mail-icon@2x.png">
        <a id="mail-contact" href="mailto:contacto@promor.com.mx?Subject=Contacto%20Promor" target="_top"> contacto@promor.com.mx </a>
      </div>
  </header>
  <section class="contact-content">
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60175.03847437806!2d-96.97519475268265!3d19.501221140938227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85db2d1bdef81f8f%3A0x238a86412a622c85!2sPromor!5e0!3m2!1sen!2smx!4v1527111977557" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="contact-form">
        <h1 class="karla-regular"> Contáctanos </h1>
        <p> Deja tus datos y nos pondremos en contacto </p>
        <div class="container">
          <form name="contact-promor" method="post" action="http://integrations.blick.mx/promor/contact/">
            <input type="text" id="name" name="name" placeholder="Nombre" required>
            <input type="text" id="phone" name="phone" placeholder="Teléfono" required>
            <input type="text" id="email" name="email" placeholder="Correo electrónico" required>
            <textarea id="subject" name="message" placeholder="Mensaje" style="height:200px"></textarea>
            <input id="contact-button" type="submit" value="ENVIAR">
          </form>
        </div>
      </div>
  </section>
{% endblock %}
