<footer class="footer karla-regular">
    <div class="footer-section-left karla-regular">
        <div class="footer-left-left">
          <a href="index.html"><span class="footer-left-item-top"> Inicio </span> </a>
          <a id="mail-footer" href="mailto:contacto@promor.com.mx?Subject=Contacto%20Promor"><span> contacto@promor.com.mx</span> </a>
          <a href="contact.html"><span class="footer-left-item-bottom"> Contacto </span> </a>
        </div>
        <div class="footer-left-middle">
          <p class="footer-left-item-top"> 22.88.16.00.44 </p>
          <a href="https://www.facebook.com/PromorCafe/" target="_blank">
            <img class="footer-left-item-bottom" src="img/group-16.png" onmouseover="this.src='img/face-hover.png'" onmouseout="this.src='img/group-16.png'">
          </a>
        </div>
        <div class="footer-left-right">
          <a target="_blank" href="https://www.google.com/maps/place/Promor/@19.4639726,-96.9575027,17z/data=!3m1!4b1!4m5!3m4!1s0x85db2d1bdef81f8f:0x238a86412a622c85!8m2!3d19.4639676!4d-96.955314" id="footer-address">2da de Altamirano, 49. Col. Centro CP. 91500. Coatepec, Ver. México.</a>
        </div>
    </div>
    <div class="footer-section-right karla-regular">
      <img src="img/promor.png">
      <p id="footer-copyright"> Copyright © Promor 2018 </p>
    </div>
</footer>
