<nav class="nav {% if section == 'contact' %} contact-nav {% endif %} karla-regular" >
  <div class="nav-logo-container">
    <a href="index.html">
      <img id="nav-logo" src="img/promor.png">
    </a>
  </div>
  <div class="nav-content-container">
    <a class="nav-click" href="index.html"><span> Inicio </span> </a>
    <a class="nav-click" href="contact.html"><span> Contacto </span> </a>
    <a id="phone-nav-a"> <img id="phone-nav" src="img/phone@2x.png"> 22.88.16.00.44 </a>
  </div>
</nav>
