.footer
  height 200px
  width 100%
  background-image url("../img/2.jpg")
  position relative
  color white
  bottom 0
  letter-spacing 0.5px


.footer p
  transition 0.3s

.footer p:hover
  color green

.footer-section-left
  position absolute
  display flex
  justify-content space-between
  height 60%
  width 55vw
  margin-left 8vw
  top 25%
  left 0


.footer-left-left
  width 20%
  height 100%
  color white


.footer-left-middle
  width 20%
  height 100%
  color white


.footer-left-right
  width 35%
  height 100%
  color white

#footer-address:hover
  color green


.footer-section-right
  position absolute
  height 50%
  width 20vw
  margin-right 8vw
  top 25%
  right 0
  color white


.footer-left-item-bottom
  position absolute
  bottom 0
  color white
  transition 0.3s

.footer-left-item-top:hover
  color green

.footer-left-item-bottom:hover
  color green


.footer-left-item-top
  position absolute
  top 0
  color white
  transition 0.3s


#footer-address
  line-height 1.5
  position absolute
  top 0
  color white


#footer-copyright
  position absolute
  bottom 0px

#mail-footer
  color white
  position absolute
  top 40%

#mail-footer:hover
  color green

@media only screen and (max-width: 600px)
  .footer
    height 300px !important

  .footer-section-right
    top 70% !important
    margin-right 18vw !important
    height 15% !important

  .footer-section-left
    width 90vw !important
