@font-face
  font-family BigCaslon
  src url('../fonts/BigCaslon-Medium.woff') format('woff')
  font-weight: $normal;
  font-style: normal;

@font-face
  font-family Karla
  src url('../fonts/Karla-Bold.woff') format('woff')
  font-weight: $bold;
  font-style: normal;

@font-face
  font-family Karla
  src url('../fonts/Karla-BoldItalic.woff') format('woff')
  font-weight: $bold;
  font-style: italic;

@font-face
  font-family Karla
  src url('../fonts/Karla-Italic.woff') format('woff')
  font-weight: $normal;
  font-style: italic;

@font-face
  font-family Karla
  src url('../fonts/Karla-Regular.woff') format('woff')
  font-weight: $normal;
  font-style: normal;

.karla-bold
 font-family 'Karla'
 font-weight $bold
 font-style normal

.karla-bold-italic
 font-family 'Karla'
 font-weight $bold
 font-style italic

.karla-italic
 font-family 'Karla'
 font-weight $normal
 font-style italic

.karla-regular
 font-family 'Karla'
 font-weight $normal
 font-style normal

.bigCaslon
 font-family 'BigCaslon'
 font-weight $normal
 font-style normal
